<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JobEditor:EventsLogPath" value="..\..\..\TDP.TestJobEngineService\bin\Debug\Log\" />
    <add key="JobEditor:LibPath" value="Lib\" />
    <add key="JobEditor:DataPath" value="Data\" />
    <add key="JobEditor:ItemWidth" value="76" />
    <add key="JobEditor:ItemFontSize" value="9" />
    <add key="JobEditor:ItemHandleDistance" value="8" />
    <add key="JobEditor:ItemHandleSize" value="9" />
    <add key="JobEditor:ConnectionLineDetectPrecision" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>